apiVersion: v1
kind: Secret
metadata:
  name: image-pull-secret
  namespace: {{ .Release.namespace }}
data:
  {{- $secretObj := (lookup "v1" "Secret" "hyperplane-core" "imagepull-gcr-service-account-key") | default dict }}
  {{- $secretData := (get $secretObj "data") | default dict }}
  {{- $gcpCredentialJsonB64 := (get $secretData ".dockerconfigjson") }}
  .dockerconfigjson: {{ $gcpCredentialJsonB64 }}
type: kubernetes.io/dockerconfigjson